<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="http://unpkg.com/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <label for="">User ID : </label>
        <!-- input 태그에는 v-model 사용 -->
        <input type="text" v-model="userId"><br>
        <label for="">User PW : </label>
        <input type="text" v-model="userPw"><br>
        <label for="">User Name : </label>
        <input type="text" v-model="userName"><br>
        <label for="">User Email : </label>
        <input type="text" v-model="userEmail"><br>
        <button type="sumbit" v-on:click="btnSubmit">확인</button>
        <button type="reset" v-on:click="btnReset">취소</button>
    </div>

    <script>
//         문제 1) 뷰 인스턴스와 디렉티브를 사용하여 간단한 회원가입 페이지를 생성하세요
// 마지막 확인 버튼을 클릭 시 입력한 내용을 alert() 을 사용하여 화면에 출력
// * 입력할 내용은 아이디, 비밀번호, 사용자명, 이메일
// * 입력한 데이터는 members[] 배열에 저장(순서는 아이디, 비밀번호, 사용자명, 이메일)
        new Vue({
            el: "#app",
            data: {
                members: [],
                userId: "",
                userPw: "",
                userName: "",
                userEmail: ""
            },
            methods: {
                btnSubmit: function() {
                    // methods 영역에서 data영역에 선언한 변수명을 가져다 사용할려면 this 키워드가 반드시 필요함
                    this.members = [this.userId, this.userPw, this.userName, this.userEmail];
                    // this.members[0] = this.userId;
                    // this.members[1] = this.userPw;
                    // this.members[2] = this.userName;
                    // this.members[3] = this.userEmail;
                    // this.members.push(this.userId);

                    var msg = "";
                    for (var i = 0; i < this.members.length; i++) {
                        msg += "\n" + this.members[i];
                    }

                    alert(msg);
                },
                btnReset: function() {
                    this.userId = "";
                    this.userPw = "";
                    this.userName = "";
                    this.userEmail = "";

                    this.members = [];
                }
            },
        });
    </script>
</body>
</html>